@model Model.DataModel.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin_quanli/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <h2>Xem </h2>

            <div>
                <h4>Admin</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
</div>
</div>
</div>