@model Model.Oders

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin_quanli/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Oders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers.cus_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.cus_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_method)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Oders_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
