@using PagedList.Mvc
@model PagedList.IPagedList<Model.Oders>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin_quanli/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">


            <section class="main-content">
                <div class="col-md-12">
                    <!-- DATA TABLE -->

                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <form action="#" method="post">
                                <div>
                                    <div>
                                        <input class="au-input au-input--xl" type="search" name="search" id="search" placeholder="Nhập từ khóa càn tìm kiếm " />

                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="table-data__tool-right">


                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                @*<a href="@Url.Action("Create","Authors")"   <i style="color: white" > Thêm mới</i> </a>*@
                            </button>



                        </div>
                    </div>
                   
                       
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>


                                        <th>Mã đơn hàng  </th>
                                        @*<th>Tên khách hàng  </th>*@


                                        <th>tổng tiền  </th>
                                        <th>Kiểu thanh toán</th>
                                        <th>ghi chú</th>
                                        <th>Tên khách hàng </th>
                                        <th>Địa chỉ</th>
                                        <th>Số điện thoại</th>
                                        <th>Ngày mua  </th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody id="list-data">
                                    @foreach (var item in Model)
            {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Oders_id)
                                            </td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.Customers.cus_name)
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.total_amount)
                                            </td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.payment_method)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.fullname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.phone)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.create_date)
                                            </td>


                                            <td>

                                                @*<button type="button" class="btn btn-outline-primary" disabled="">@Html.ActionLink("Sửa", "Edit", new { id = item.author_id }) </button>*@
                                                <button type="button" class="btn btn-outline-warning" disabled="">@Html.ActionLink("Chi tiết", "Details", new { id = item.Oders_id })</button>
                                                <button type="button" class="btn btn-outline-danger" disabled="">@Html.ActionLink("Xóa", "Delete", new { id = item.Oders_id })</button>



                                            </td>
                                        </tr>

                                    }


                                </tbody>
                            </table>
                            <nav aria-label="navigation">

                                <div class="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.search }))
                                </div>

                            </nav>
                            

                        
                    </div>
                  
        
</section>














        </div>
    </div>
</div>