@model IEnumerable<Model.DataModel.Product>
<title>Trang chu</title>
<section class="welcome_area bg-img background-overlay" style="background-image: url(/Content/template/img/bg-img/back4.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">

            </div>
        </div>
    </div>
</section>
<!-- ##### Welcome Area End ##### -->
<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">

            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(/Content/template/img/bg-img/back7.jpg);">
                    <div class="catagory-content">
                        <a href="@Url.Action("Index", "Shop")">Sản phẩm</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(/Content/template/img/bg-img/back8.jpg);">
                    <div class="catagory-content">
                        <a href="@Url.Action("Index", "Blog")">Blog</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(/Content/template/img/bg-img/back9.jpg);">
                    <div class="catagory-content">
                        <a href="@Url.Action("Index", "Contact")">Liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Top Catagory Area End ##### -->
<!-- ##### CTA Area Start ##### -->
<div class="cta-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content bg-img background-overlay" style="background-image: url(/Content/template/img/bg-img/back10.jpg);">
                    <div class="h-100 d-flex align-items-center justify-content-end">
                        <div class="cta--text">

                            <h2 style="color:red;">HOT! </h2>
                            <a href="@Url.Action("Index", "Shop")" class="btn essence-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->
<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Sản phẩm</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">

                    <!-- Single Product -->
                    @foreach (var b in Model)
                    {
                        <div class="single-product-wrapper">
                            <!-- Product Image -->

                            <div class="product-img">
                                <img src="@b.pro_image" alt="">


                                <div class="product-favourite">
                                    <a href="#" class="favme fa fa-heart"></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">

                                <a href="~/ViewDetail/Index/@b.pro_id">
                                    <h4 style="text-align:center;font-family:inherit">@b.pro_name</h4>
                                </a>
                                <p class="product-price " style="text-align:center;font-size:20px;color:red;"> @b.pro_sale_price </p>

                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        @if (Session["admin"] != null)
                                        {
                                            <a href="/Shop/AddToBasket/@b.pro_id" class="btn essence-btn">Thêm vào giỏ hàng</a>
                                        }
                                        @if (Session["admin"] == null)
                                        {
                                            <a href="@Url.Action("Login","Home")" class="btn essence-btn">Thêm vào giỏ hàng</a>
                                        }

                                    </div>
                                </div>
                            </div>


                        </div>
                    }







                    <!-- Single Product -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->
<!-- ##### Brands Area Start ##### -->
@*<div class="brands-area d-flex align-items-center justify-content-between">
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="~/Content/template/img/core-img/brand1.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="~/Content/template/img/core-img/brand2.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="~/Content/template/img/core-img/brand3.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="~/Content/template/img/core-img/brand4.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="~/Content/template/img/core-img/brand5.png" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="~/Content/template/img/core-img/brand6.png" alt="">
        </div>
    </div>*@
