@model Model.DataModel.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin_quanli/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <h2>Details</h2>

            <div>
                <h4>Product</h4>
                <hr />
                <dl class="dl-horizontal" style="font-size: 15px">
                    <dt>
                        @Html.DisplayNameFor(model => model.Authors.author_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Authors.author_name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Categorys.cat_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Categorys.cat_name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Publishers.pub_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Publishers.pub_name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.pro_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pro_name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.pro_image)
                    </dt>

                    <img src="@Model.pro_image" alt="Alternate Text" width="30%" />

                    <dt>
                        @Html.DisplayNameFor(model => model.pro_description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pro_description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.create_date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.create_date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.pro_price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pro_price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.pro_sale_price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pro_sale_price)
                    </dd>

                </dl>
            </div>
            <p style="    font-size: 16px " >
                @Html.ActionLink("Sửa", "Edit", new { id = Model.pro_id })-- 
                @Html.ActionLink("Quay lại", "Index")
            </p>
        </div>
    </div>
</div>